.row
  %h1 NEA Grantee Map
.row
  .large-12.columns
    .row  
      .large-2.columns
        = form_tag grantees_path, :method => :get, 'data-update-target' => 'grantees_list', remote: true do |form|
          = label_tag :zip, 'Find Grantees near...'
          = text_field_tag :zip, '', :placeholder => '33606'
          = submit_tag 'Go'

.row
  .large-12.columns
    #grantees_list

  .large-12.columns
    .row
      #map{:style=>"width:800px; height:300px;"}

